<div class="container-fluid">

  <div class="row">
    <div id="slides_control">
      <carousel interval="main.myInterval">
        <slide ng-repeat="slide in main.slides" active="slide.active">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <!--<h4>Slide {{$index+1}}</h4>-->
          </div>
        </slide>
      </carousel>

    </div>
  </div>

  <div class="row">
    <acme-navbar></acme-navbar>
  </div>

  <div class="container">
    <div class="row">
      <div class="well" ng-repeat="reciept in main.reciepts">
        <div class="media">
          <a ng-class="{{$index%2==0}}? 'pull-right':'pull-left'" href="#">
            <img class="media-object img-rounded" src="http://localhost:8080/images/{{reciept.frontImage}}" alt="...">
          </a>
          <div class="media-body">
            <h2 class="media-heading "><a class="recipe-title" href="/#reciept/{{reciept.id}}"> {{reciept.title}}</a></h2>
            <p class="text-left time-menu"><i class="glyphicon glyphicon-time"></i> {{reciept.cookingTime}} min</p>
            <p>{{reciept.shortDescription}}
            </p>
            <p><a class="read-more" href="/#">прочети повече</a></p>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>