<div class="container-fluid">

	<div class="row">
		<div class="col-md-13">
			<img class="media-object img-rounded" src="assets/images/header.jpg" alt="alt">
		</div>
	</div>
	<div class="row">
		<acme-navbar></acme-navbar>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-7 col-lg-7 col-md-offset-2">
				<h2> {{reciept.reciept.title}}</h2>
				<div class="row">
					<div class="col-md-7 col-sm-7">
						<img class="img-rounded" src="{{reciept.imageUrl}}/{{reciept.reciept.frontImageGallery}}" alt="">
					</div>
					<div class="col-md-5 col-sm-5">
						<p>	
							<i class="glyphicon glyphicon-time text-green-light"></i> <span class="time-text">подготовка: </span> <span class="time-menu">{{reciept.reciept.cookingPreperationTime}} min</span><br>
							<i class="glyphicon glyphicon-time text-green-dark"></i> <span class="time-text">готвене: </span> <span class="time-menu">{{reciept.reciept.cookingTime}} min</span><br>
							<i class="glyphicon glyphicon-time text-blue"></i> <span class="time-text">общо: </span> <span class="time-menu">{{reciept.reciept.cookingTimeAll}} min</span><br>
						</p>
						 <!-- Load Facebook SDK for JavaScript -->
						<div id="fb-root"></div>
						<script>
							(function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.8";
							fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
						</script>
						<p>
						<button class="share-button"  ng-click="reciept.print()"><i class="glyphicon glyphicon-share"></i> Принтирай</button><br>
						</p>

						<div class="fb-share-button" data-href="reciept.getUrl()" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" 
						href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Споделяне</a>
						</div>
					</div>	
				</div>
				<h3>Продукти</h3>
				<ul class="list-group">
					<li ng-repeat="ingredient in reciept.reciept.ingredients" class="list-group-item grey"><strong>{{ingredient.amount}} {{ingredient.type}}</strong> {{ingredient.content}} </li>
				</ul>
				<p>
					<h3>Описание</h3>
					{{reciept.reciept.content}}
				</p>
				<h3>Начин на приготвяне</h3>
				<div ng-repeat="direction in reciept.reciept.directions">
					<p>
						<span class="circle">{{$index + 1}} </span> {{direction}}
					</p>

				</div>
			</div>
		</div>
	</div>
</div>