/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */


@font-size-base: 16px;
@navbar-default-link-hover-bg:#17191a;
@navbar-default-link-hover-color:#9ea1a2;
@navbar-default-bg:  #eaeaea;
@nav-link-padding: 20px 30px;

@import url(//fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C500%2C700%2C900%2C400italic%2C500italic%7CLeckerli+One&#038;ver=4.7);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,800,300,700,600);
@import url(//fonts.googleapis.com/css?family=Leckerli+One);
@import url(//fonts.googleapis.com/css?family=Indie+Flower|Marck+Script);
body {
  font-family: 'Roboto', sans-serif;
  color: #919699;
  font-size: 15px;
}
.time-menu{
  font-family: 'Leckerli One', cursive, serif;
}
.time-text{
  font-family: 'Marck Script', cursive;
  font-size: 22px;
  font-weight: 300;
}

.recipe-title{
  font-weight: 900;
  font-size: 40px;
  color: #919699;
}
.text-green-light{
  color:#bbdd2e;
}
.text-green-dark{
  color: #5cb354;
}

.text-blue{
  color: #5dc3d2;
}

.recipe-title:hover{
  color: #5dc3d2;
}
a{
  text-decoration: none !important;
}
.navbar-nav{
  font-family: sans-serif;
  font-weight: 900;
  font-size: 17px;
}
.navbar-nav li{
  border-left: 1px solid white;
}
.grey{
  background-color: #f5f5f5;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
.read-more{
  color:#5dc3d2;
  border: 1px solid #5dc3d2;
  border-radius: 2px;
  padding: 3px;
}
.read-more:hover{
  color:#337ab7;
  border: 1px solid #337ab7;
}
.circle {
    display: inline-block;
    text-align: center;
    padding: 5px 2px;
    min-width: 30px;
    top: -3px;
    left: -45px;
    border: 1px solid #5dc3d2;
    color: #5dc3d2;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector

.carousel-inner{
  width:100%;
  max-height: 400px !important;
}
.carousel-control{
  display: none;
}

.cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:400px;
      height:400px;
    }

.share-button {
color: #ffffff;
background-color: #5dc3d2;
border: none;
text-decoration: none;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    padding: 13px 15px;
}

footer {
  padding: 20px;
  background-color: #2e3030;
  color: #919699;
}

.black-font {
  color: 3f3f3f;
}

.ng-image-gallery{
  margin-top: 10px;
}

.thumb {
  width: 100px !important; 
  height: 100px !important;
  margin-right: 25px !important;
}

.category{
  color: #919699;
}

.category-link{
   color:#5dc3d2;
}

ul{
  padding-left: 15px;
}

li{
  margin-bottom: 5px; 
}

.category-link:hover{
   color:#50a4af;
}

.primary-cat{
  color:  #5a5a5a !important;
}

.sub-cat{
  color: #848484;
}

.comments{
  margin-top: 20px;
}