<form>
	<div class="form-group">
		<label for="title">Заглавие</label>
		<input ng-model="adminReciept.reciept.title" type="text" class="form-control" id="title" placeholder="заглавие">
	</div>
	<div class="form-group">
		<label for="time">Време за приготвяне</label>
		<input ng-model="adminReciept.reciept.cookingTime" type="text" class="form-control" id="time" placeholder="време за приготвяне">
	</div>
	<div class="form-group">
		<label for="ingredients">Продукти</label>
		<input type="text" class="form-control" id="ingredients" placeholder="продукти">
	</div>

	<div class="form-group">
		<label for="short-description">Кратко описание</label>
		<input ng-model="adminReciept.reciept.shortDescription" type="textarea" class="form-control" id="short-description" placeholder="кратко описание">
	</div>

	<div class="form-group">
		<label for="description">Описание</label>
		<input ng-model="adminReciept.reciept.content" type="textarea" class="form-control" id="description" placeholder="описание">
	</div>

	<div class="form-group">
		<label>Начална снимка</label>
		<input type="file" nv-file-select="" uploader="adminReciept.uploader" />
		<button type="submit" class="btn btn-success btn-xs" ng-click="adminReciept.uploader.queue[0].upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess"><span class="glyphicon glyphicon-upload">	</span>Добави</button>
	</div>

	<div class="form-group">
		<label for="steps">Начин на приготвяне</label>
		<input type="textarea" class="form-control" id="steps" placeholder="начин на приготвяне">
	</div>

	<button type="submit" ng-click="adminReciept.add()" class="btn btn-success">Добави</button>
</form>