<script type="text/ng-template" id="myModalContent.html">
    <div ng-init="init()">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Избор на снимка</h4>
        </div>
        <div class="modal-body" id="modal-body">
            <div>Снимка за рецептата
                <input type="file" id="fileInput3" />
            </div>
            <div class="cropArea">
                <img-crop result-image-size="350" image="imageGallery" area-type="square" result-image="croppedImageGallery"></img-crop>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-xs" type="button" ng-click="addImageGallery('imageGallery')">Добави</button>
            <button class="btn btn-warning btn-xs" type="button" ng-click="cancelImageGallery()">Откaжи</button>
        </div>
    </div>
</script>