<div class="container">
    <div ng-include="'app/admin/receipt/gallerytemplate.html'"></div>
    <div class="row">
        <div class="col-md-5">
            <div>Начална снимка
                <input type="file" id="fileInput" />
            </div>
            <div class="cropArea">
                <img-crop result-image-size="350" image="adminReceipt.frontImage" area-type="square" result-image="adminReceipt.croppedFrontImage"></img-crop>
            </div>
            <button type="submit" class="btn btn-success btn-xs" ng-click="adminReceipt.uploadImage('frontImage')" ng-disabled="item.isReady || item.isUploading || item.isSuccess"><span class="glyphicon glyphicon-upload"></span>качи</button>
        </div>
        <div class="col-md-6">
            <div>Изрязана снимка</div>
            <div><img ng-src="{{adminReceipt.croppedFrontImage}}" alt=""></div>
        </div>
    </div>
    <!--second image-->
    <div class="row">
        <div class="col-md-5">
            <div>Снимка за рецептата
                <input type="file" id="fileInput2" />
            </div>
            <div class="cropArea">
                <img-crop result-image-size="350" image="adminReceipt.frontImageGallery" area-type="square" result-image="adminReceipt.croppedFrontImageGallery"></img-crop>
            </div>
            <button type="submit" class="btn btn-success btn-xs" ng-click="adminReceipt.uploadImage('frontImageGallery')" ng-disabled="item.isReady || item.isUploading || item.isSuccess"><span class="glyphicon glyphicon-upload"></span>качи</button>
        </div>
        <div class="col-md-6">
            <div>Изрязана снимка</div>
            <div><img ng-src="{{adminReceipt.croppedFrontImageGallery}}" alt=""></div>
        </div>
    </div>
    <button type="button" class="btn btn-info" ng-click="adminReceipt.addImageGallery()">галерия</button>
    <form>
        <div class="form-group">
            <label for="title">Заглавие</label>
            <input ng-model="adminReceipt.receipt.title" type="text" class="form-control" id="title" placeholder="заглавие">
        </div>
        <div class="form-group">
            <label for="title">Категория</label>
            <select class="form-control" id="type" ng-model="adminReceipt.receipt.category">
                <option ng-repeat="(category,key) in adminReceipt.categories" value="{{category}}">{{category}}</option>
            </select>

            <select class="form-control" id="type" ng-model="adminReceipt.receipt.subCategory">
                <option ng-repeat="(category,key) in adminReceipt.categories[adminReceipt.receipt.category]" value="{{key}}">{{key}}</option>
            </select>
        </div>
        <!--prep time-->
        <div class="form-group input-group input-group-sm">
            <label for="prepTime">Време за подготвяне</label>
            <input ng-model="adminReceipt.receipt.cookingPreperationTime" type="number" class="form-control col-xs-2" id="prepTime" placeholder="време за подготвяне">
        </div>
        <!--Cooking time-->
        <div class="form-group input-group input-group-sm">
            <label for="time">Време за приготвяне</label>
            <input ng-model="adminReceipt.receipt.cookingTime" type="number" class="form-control col-xs-2" id="time" placeholder="време за приготвяне">
        </div>
        <!--Cooking all time-->
        <div>
            <label>Общо време</label>
            <br> {{adminReceipt.receipt.cookingPreperationTime -- adminReceipt.receipt.cookingTime}}
        </div>
        <div class="form-inline">
            <!--ingredients-->
            <label for="ingredients">Продукти</label>
            <div ng-repeat="ingredient in adminReceipt.ingredients">
                <div class="dropdown">
                    <input type="text" class="form-control" ng-model="ingredient.amount" placeholder="количество">
                    <label for="type">тип</label>
                    <select class="form-control" id="type" ng-model="ingredient.type">
                        <option>гр</option>
                        <option>бр.</option>
                        <option>мл</option>
                        <option>ч.л</option>
                        <option>щипка</option>
                    </select>
                    <input type="text" class="form-control" ng-model="ingredient.content" id="ingredient" placeholder="продукт">
                </div>
            </div>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-success btn-xs" ng-click="adminReceipt.addIngredient()"><i class="glyphicon glyphicon-plus"></i>Добави</button>
            <button type="submit" class="btn btn-danger btn-xs" ng-click="adminReceipt.removeIngredient()"><i class="glyphicon glyphicon-minus"></i>Премахни</button>
        </div>
        <div class="form-group">
            <label for="short-direction">Начин на приготвяне</label>
            <div ng-repeat="direction in adminReceipt.directions track by $index">
                <input ng-model="adminReceipt.directions[$index]" type="text" class="form-control" id="direction" placeholder="стъпка">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-xs" ng-click="adminReceipt.addDirection()"><i class="glyphicon glyphicon-plus"></i>Добави</button>
            <button type="submit" class="btn btn-danger btn-xs" ng-click="adminReceipt.removeDirection()"><i class="glyphicon glyphicon-minus"></i>Премахни</button>
        </div>
        <div class="form-group">
            <label for="short-description">Кратко описание</label>
            <textarea ng-model="adminReceipt.receipt.shortDescription" type="textarea" class="form-control" id="direction" placeholder="кратко описание"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea ng-model="adminReceipt.receipt.content" type="textarea" class="form-control" id="description" placeholder="описание"></textarea>
        </div>
        <button type="submit" ng-click="adminReceipt.add()" class="btn btn-success">Добави</button>
    </form>
</div>